<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean class="ru.sertok.robot.storage.LocalStorage" id="localStorage"/>
    <bean class=" ru.sertok.robot.core.hook.KeyEvents" id="keyEvents"/>
    <bean id="environment" class="org.mockito.Mockito" factory-method="mock">
        <constructor-arg value="org.springframework.core.env.Environment" />
    </bean>
    <bean class="ru.sertok.robot.core.service.ScreenShot" id="screenShot">
        <constructor-arg ref="localStorage"/>
    </bean>
    <bean class="ru.sertok.robot.core.service.ScreenShot">
        <constructor-arg ref="localStorage"/>
    </bean>

    <bean class="ru.sertok.robot.core.hook.EventListener" >
        <constructor-arg index="0" ref="localStorage"/>
        <constructor-arg index="1" ref="screenShot"/>
        <constructor-arg index="2" ref="keyEvents"/>
    </bean>
</beans>